<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h2>Backend Developer Intern Assignment</h2>
    <% if (locals.error) { %>
      <div class="container mt-5"> 
        <div class="alert alert-danger" role="alert">
          <%= locals.error  %>
        </div>
      </div>
      
    <% } %>
    <div class="container mt-5">
        <form action="/user/login" method="post">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter you Email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter you Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>